// Aquí se definen las variables, como tipo de fuente, paleta de colores
// tamaño de fuente, etc.

//Paleta de colores
$russian-violet: (
  DEFAULT: #020203,
  100: #040109,
  200: #070312,
  300: #0b041b,
  400: #0e0523,
  500: #13072e,
  600: #32137c,
  700: #531ecc,
  800: #885fe7,
  900: #c4aff3
);

$tropical-indigo: (
  DEFAULT: #bb99ff,
  100: #1b0052,
  200: #3600a3,
  300: #5200f5,
  400: #8547ff,
  500: #bb99ff,
  600: #c9adff,
  700: #d6c2ff,
  800: #e4d6ff,
  900: #f1ebff
);

$baby-powder: (
  DEFAULT: #fdfff7,
  100: #4b6400,
  200: #96c800,
  300: #caff2d,
  400: #e3ff91,
  500: #fdfff7,
  600: #fdfff7,
  700: #fdfff9,
  800: #fefffb,
  900: #fefffd
);

$mauve: (
  DEFAULT: #efa9fa,
  100: #45054f,
  200: #8a099e,
  300: #cf0eed,
  400: #e159f5,
  500: #efa9fa,
  600: #f2bafb,
  700: #f5cbfc,
  800: #f9dcfd,
  900: #fceefe
);

$vista-blue: (
  DEFAULT: #99acff,
  100: #000f52,
  200: #001ea3,
  300: #002df5,
  400: #4769ff,
  500: #99acff,
  600: #adbcff,
  700: #c2cdff,
  800: #d6deff,
  900: #ebeeff
);