@use 'variables' as *;
@use 'mixins' as *;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $russian-violet;
    color: $tropical-indigo-500; 
}    

.header{

}

.grammar{

}

.info{

}

.table-results{

}