@use 'variables' as *;
@use 'mixins' as *;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    @include fuentePoppins;
    margin: 0;
    padding: 0;
    background-color: $russian-violet;
}    

.body, .header, .grammar, .info, .table-results{
    display: flex;
}

.header{
    margin: 2rem auto;
    width: 100%;
    max-width: 120rem;
    align-items: center ;
    justify-content: center;
    &__title{ 
        @include poppins-black-italic;
        font-size: 5rem;
        text-align: center;    
        margin: 0 2rem; 
        width: 60rem; 
        color: $tropical-indigo-800; 
    }
    &__img{
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 20rem;
    }
    &__icon{
        width: 12rem;
    }
}

.grammar {
    margin: 1rem auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; 
    width: 120rem;
    &__conticon { 
      display: flex; 
    }
  
    &__icon {
        width: 14rem;
    }
  
    &__text {
        @include poppins-black-italic;
        width: 70rem;
        height: 12rem;
        resize: none;
        border-top: 1rem;
        border-bottom: 2rem;
        background-color: $indigo-trans; 
        box-shadow: 0 0 1.5rem $mauve-900, 0 0 1rem $mauve;
        font-size: 2rem;
        text-align: center;
        color: $tropical-indigo-800; 
    }
  
    &__contbutton { 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }
    &__button{
        @include fuentePoppins;
        font-size: 2rem;
        border-radius: 4rem;
        padding: 1.5rem 3rem;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
  }

.info{
    margin: 3% auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
    gap: 2rem;
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 2rem 0;
        padding: 1rem 1rem;
        border-radius: 1rem;
        height: 10rem;
        background: linear-gradient(135deg, $russian-trans 10%, #3f2182 90%);      
        &__title{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $button;
            color: $russian-violet  ;
            padding: 1.5rem; 
            border-radius: 4rem;
            font-size: 1.4rem;
        }
    }
    &__button{
        @include fuentePoppins;
        background-color: $baby-powder-800;
        font-size: 1.5rem;
        border-radius: 1.3rem;
        padding: 1rem 2rem;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
}

.table-results{
    margin: 2rem auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
}

.test{
    margin: 2rem auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
}

.result{
    margin: 2rem auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
}