@use 'variables' as *;
@use 'mixins' as *;

html {
    @include fuentePoppins;
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

* {
    @include custom-scrollbar;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $russian-violet;
}    

.body, .header, .grammar, .info, .table-results{
    display: flex;
}

.header{
    margin: 4rem auto;
    width: 100%;
    max-width: 120rem;
    align-items: center ;
    justify-content: center;
    &__title{ 
        @include poppins-black-italic;
        font-size: 5rem;
        text-align: center;    
        margin: 0 2rem;
        color: $tropical-indigo-800;    
    }
    &__img{
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 20rem;
    }
    &__icon{
        width: 12rem;
    }
}

.grammar {
    margin: 4rem auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; 
    width: 120rem;
    &__conticon { 
      display: flex;
      padding-top: 0.8rem; 
      margin: 2rem auto;
    }
  
    &__icon {
        display: block;
        width: 16rem;
    }
  
    &__text {
        width: 75rem;
        height: 12rem;
        resize: none;
        border-top: 1rem;
        border-bottom: 2rem;
        padding: 0.5rem;
        background-color: $indigo-trans; 
        box-shadow: 0 0 1.5rem $mauve-900, 0 0 1rem $mauve;
        font-size: 2rem;
        text-align: left;
        color: $tropical-indigo-200; 
        &::placeholder{
            color: $tropical-indigo-400;
            text-align: center;
            padding: 2.5rem 15rem;
        }
    }
  
    &__contbutton { 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
    }
    &__button{
        @include fuentePoppins;
        font-size: 2rem;
        border-radius: 4rem;
        padding: 1.5rem 3rem;
        border: none;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-color: blue; 
            color: white;            
        }
  }
}
.info{
    margin: 7rem auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
    gap: 2rem;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 1rem;
        border-radius: 1rem;
        width: 100%;
        max-width: 43rem;
        height: 30rem;
        background: linear-gradient(135deg, $russian-trans 10%, #3f2182 90%);
      
        &__title {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $button;
          color: $russian-violet;
          padding: 1.5rem;
          border-radius: 4rem;
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
      
        &__table {
          display: flex;
          flex-direction: column; 
          align-items: center; 
          overflow: auto;
          td {
            border: 4px transparent $trans;
            width: 100px;
            height: 50px;
            border-radius: 0.3rem;
          }
      
          
          tr:nth-child(even) td , tr:nth-child(4) td{
            background:  $baby-powder-100;
          }
      
          tr:nth-child(odd) td {
            background: $mauve-200;
          }

          tr:first-child td {
            background:  $tropical-indigo-600;
          }
        }
        &--actions{
            @extend .info__container;
            justify-content: center;
            width: 100%;
            background: none;
            gap: 1rem;
        }
        
      }
    &__button{
        @include poppins-extralight-italic;
        display: block;
        background-color: $baby-powder-700;
        font-size: 1.5rem;
        border-radius: 1.3rem;
        padding: 1rem 1.5rem;
        border: none;
        width: 100%;
        max-width: 20rem;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            background-color: $mauve-700; 
            color: white; 
        }
    }

    &__sections{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 7rem;
        &__select{
            @include poppins-black;
            display: flex;
            color: $tropical-indigo-600;
            transition: color 0.3s ease;
            font-size: 1.8rem;
            gap: 2rem;
            
            &:hover{
                color: $vista-blue-800;
            }

            input[type="radio"] {
                width: 2rem;
                height: 2rem;
                border: 2px solid $vista-blue-100;
                border-radius: 50%;
                margin-right: 10px; 
              
                &:checked {
                  background-color: $vista-blue-800;
                  border-color: $vista-blue-800;
                }
              
            }
        }
    }
}

.table-results {
    @include custom-scrollbar-variation;
    display: flex;  
    flex-direction: column;
    max-width: 120rem;
    margin: 2rem auto;
    padding: 1rem;
    height: 80rem;
    background-color: $russian-trans;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow: auto;
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $vista-blue-300;
      font-size: 2.5rem;
    }
        &__table {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-collapse: collapse;
        margin: 2rem 0;
        overflow: auto;
        max-height: 40rem;
        width: auto;
        background-color: $russian-trans;
        border: 0.1rem solid rgba(0, 0, 0, 0.05);
        @include custom-scrollbar-variation;
        tr {
            @include poppins-extrabold;
            flex: auto;
            text-align: center;
        }
    
        td {
            @include poppins-medium;
            text-align: center;
            padding: 0.8rem;
            border: 0.1rem solid rgba(0, 0, 0, 0.1);
            font-size: 1.5rem;
            color: $russian-violet-500; 
            overflow-wrap: break-word;
            vertical-align: middle;
        }

        tr:nth-child(1) td {
            background: $mauve-200;
          }

        tr:nth-child(even) td , tr:nth-child(4) td{
            background:  $mauve-200;
          }
      
          tr:nth-child(odd) td {
            background: $mauve-500;
          }

          tr:first-child td {
            background:  $tropical-indigo-400;
            @include poppins-bold;
            font-size: 1.7rem;
          }
    }
  }
  
// Encabezado (no terminal vs tokens)
.ll1-header {
    &__row {
      background: $tropical-indigo-700; // lila pastel suave
    }
  
    &__cell {
      font-weight: bold;
      font-size: 1.8rem;
      color: $russian-violet-500; // texto oscuro
      white-space: nowrap;
      background-color: $tropical-indigo-700;
    }
  }
  
  // No terminales en la primer columna
  .ll1-nonterminal {
    &__cell {
      font-weight: bold;
      color: $russian-violet-500;
      background-color: $baby-powder-300; // verde muy claro pastel
    }
  }
  
  // Reglas (producciones) en las celdas
  .ll1-rule {
    &__cell {
      background-color: $baby-powder-200; // un tono más claro
      color: $russian-violet-500;
      font-weight: bold;
    }
  }
  
  // Celdas vacías
  .ll1-empty {
    &__cell {
      background-color: $baby-powder-100; // casi blanco pastel
      color: $russian-violet-800;
    }
  }
  
  // Segunda tabla (terminal vs terminal)
  .ll1-second-table {
    margin-top: 2rem;
    border-spacing: 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.05);
    width: 100%;
  
    td {
      padding: 0.8rem;
      font-size: 1.4rem;
      border: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
  
    &__terminal-cell {
      background-color: $baby-powder-400;
      color: $russian-violet-500;
      font-weight: bold;
    }
  
    &__action-cell {
      background-color: $baby-powder-100;
      color: $russian-violet-500;
    }
  
    &__pop-cell {
      background-color: $vista-blue-100; // azul pastel muy claro
      font-weight: bold;
      color: $russian-violet-500;
    }
  
    &__error-cell {
      background-color: $mauve-100; // rosa pastel muy claro
      font-weight: bold;
      color: $russian-violet-500;
    }
  }

.test {
    margin: 2rem auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  
    &__label {
      @include poppins-black-italic;
      font-size: 2rem;
      color: $tropical-indigo-800;
    }
  
    &__sigma-container {
      position: relative;
      width: 100%;
      max-width: 90rem;
      display: inline-block;
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10rem;
        height: 10rem;
        border-top: 0.5rem solid #00f0ff;
        border-left: 0.5rem solid #00f0ff;
        border-radius: 1rem 0 0 0;
        z-index: -1;
      }
  
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 10rem;
        height: 10rem;
        border-bottom: 0.5rem solid #ff00ff; 
        border-right: 0.5rem solid #ff00ff;
        border-radius: 0 0 1rem 0;
        z-index: -1;
      }
    }
  
    &__sigma {
        @include poppins-semibold-italic;
        background-color: $tropical-indigo-200; 
        border: none;
        width: 100%;
        max-width: 90rem;
        height: 10rem;
        color: $tropical-indigo-800;
        font-size: 2rem;
        border-radius: 0 0.5rem 0 0.5rem;
        padding: 1rem;
        resize: none;
        overflow: auto;
    
        &:focus {
            outline: none;
        }
    }
    
  
    &__button {
      @extend .grammar__button;
      margin: 0 auto;
    }
}
  

.result{
    margin: 2rem auto;
    width: 120rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
    @include custom-scrollbar-variation;
    &__title{
        @include poppins-semibold-italic;
        font-size: 2.5rem;
        color: $mauve-200;
        text-align: center;
    }
    &__table{
        @extend .info__container__table;
        @include poppins-medium;
        width: 100%;
        overflow: auto;
        align-content: center;
        text-align: center;
        font-size: 1.3rem;
        tr:first-child td{
            @include poppins-extrabold;
            font-size: 1.5rem;
        }
        td{
            width: auto;
            padding: 1rem 1rem;
        }
    }
}


.highlight {
  background-color: $russian-violet-900; /* Amarillo pastel */
  border: 0.2rem solid $russian-violet-900;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
0% {box-shadow: 0 0 0.5rem $russian-violet-900;}
50% {box-shadow: 0 0 2rem $russian-violet-900;}
100% {box-shadow: 0 0 0.5rem $russian-violet-900;}
}
